{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Le blog mangas</h1>
    </div>
    <div class="container">
        <h2>Les derniers mangas</h2>
        <div class="row flex">
            {% for manga in lastMangas %}
                <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                    <div class="card" style="width: 18rem;">
                        <img src="#" class="card-img-top" alt="one_piece">
                        <div class="card-body">
                            <h5 class="card-title">{{ manga.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ manga.typeName|capitalize }} - {{ manga.year }}</h6>
                            <p class="card-text">{{ manga.author }}</p>
                            <p class="card-text">{{ manga.country }}</p>
                            <a href="{{ path('mangas_view', {'title_slug':manga.titleSlug, 'id': manga.id}) }}" class="btn btn-primary">Consulter</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock%}