{% extends 'base.html.twig' %}

{% block title %}Ajouter un manga: {{ manga.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter un manga: {{ manga.title }}</h1>
        {{ include('admin/admin_manga/_forms.html.twig') }}
    </div>
{% endblock %}
{% block javascripts_additionals %}
    {{ encore_entry_script_tags('select2') }}

    {# Script form_manga.js #}
    {{ encore_entry_script_tags('form_manga') }}
{% endblock %}
