<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('home') }}">Le blog mangas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% if app.request.get('_route') == 'mangas_list' %}active{% endif %}developement" href="{{ path('mangas_list') }}">Liste des mangas </a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% if app.request.get('_route') == 'admin_mangas_index' %}active{% endif %}developement" href="{{ path('admin_mangas_index') }}">Admin </a>
            </li>
        </ul>
        {% if app.user %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('logout') }}">Se déconnecter</a>
                </li>
            </ul>
            {% else %}
                <ul class="navbar-nav my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('login') }}">Se connecter</a>
                    </li>
                </ul>
        {% endif %}
    </div>
</nav>